In [25]:
import yfinance as yf
import pandas as pd
import ploty.graph_objects as go

ModuleNotFoundError: No module named 'ploty'

In [9]:
ticker_symbol = "AAPL"

ticker = yf.Ticker(ticker_symbol)

historical_data = ticker.history(start='1990-01-01',
                                 end='2024-12-31',
                                 interval='1d',
                                 actions=False)
#Flattens the Dataframe
# historical_data = historical_data.xs(ticker_symbol, axis=1, level="Ticker")

In [10]:
historical_data.head(5)

                               Open      High       Low     Close     Volume
Date
1990-01-02 00:00:00-05:00  0.247783  0.263599  0.246026  0.261842  183198400
1990-01-03 00:00:00-05:00  0.267114  0.267114  0.263599  0.263599  207995200
1990-01-04 00:00:00-05:00  0.268871  0.272386  0.261842  0.264478  221513600
1990-01-05 00:00:00-05:00  0.265357  0.268871  0.260084  0.265357  123312000
1990-01-08 00:00:00-05:00  0.263599  0.267114  0.260084  0.267114  101572800

Read csv file

In [18]:
df = pd.read_csv("XAGUSD_Candlestick_4_Hour_BID_01.03.2023-01.03.2025.csv")
df

                     Gmt time    Open    High     Low   Close        Volume
0     01.03.2023 00:00:00.000  20.877  21.079  20.812  21.069  3.821708e+08
1     01.03.2023 04:00:00.000  21.071  21.166  20.999  21.079  4.107495e+08
2     01.03.2023 08:00:00.000  21.077  21.122  20.927  20.988  5.944323e+08
3     01.03.2023 12:00:00.000  20.987  21.170  20.900  21.120  1.068375e+09
4     01.03.2023 16:00:00.000  21.118  21.122  20.903  20.994  5.682118e+08
...                       ...     ...     ...     ...     ...           ...
4387  01.03.2025 04:00:00.000  31.117  31.117  31.117  31.117  0.000000e+00
4388  01.03.2025 08:00:00.000  31.117  31.117  31.117  31.117  0.000000e+00
4389  01.03.2025 12:00:00.000  31.117  31.117  31.117  31.117  0.000000e+00
4390  01.03.2025 16:00:00.000  31.117  31.117  31.117  31.117  0.000000e+00
4391  01.03.2025 20:00:00.000  31.117  31.117  31.117  31.117  0.000000e+00

[4392 rows x 6 columns]

In [21]:
df = df[df["Volume"] != 0]
df

                     Gmt time    Open    High     Low   Close        Volume
0     01.03.2023 00:00:00.000  20.877  21.079  20.812  21.069  3.821708e+08
1     01.03.2023 04:00:00.000  21.071  21.166  20.999  21.079  4.107495e+08
2     01.03.2023 08:00:00.000  21.077  21.122  20.927  20.988  5.944323e+08
3     01.03.2023 12:00:00.000  20.987  21.170  20.900  21.120  1.068375e+09
4     01.03.2023 16:00:00.000  21.118  21.122  20.903  20.994  5.682118e+08
...                       ...     ...     ...     ...     ...           ...
4381  28.02.2025 04:00:00.000  31.221  31.272  31.040  31.092  2.784029e+08
4382  28.02.2025 08:00:00.000  31.093  31.182  30.992  31.146  2.611462e+08
4383  28.02.2025 12:00:00.000  31.147  31.203  30.801  31.135  6.788975e+08
4384  28.02.2025 16:00:00.000  31.141  31.192  30.911  31.063  3.214835e+08
4385  28.02.2025 20:00:00.000  31.063  31.157  31.015  31.117  5.003400e+07

[3205 rows x 6 columns]

In [14]:
df

                     Gmt time    Open    High     Low   Close        Volume
0     01.03.2023 00:00:00.000  20.877  21.079  20.812  21.069  3.821708e+08
1     01.03.2023 04:00:00.000  21.071  21.166  20.999  21.079  4.107495e+08
2     01.03.2023 08:00:00.000  21.077  21.122  20.927  20.988  5.944323e+08
3     01.03.2023 12:00:00.000  20.987  21.170  20.900  21.120  1.068375e+09
4     01.03.2023 16:00:00.000  21.118  21.122  20.903  20.994  5.682118e+08
...                       ...     ...     ...     ...     ...           ...
4387  01.03.2025 04:00:00.000  31.117  31.117  31.117  31.117  0.000000e+00
4388  01.03.2025 08:00:00.000  31.117  31.117  31.117  31.117  0.000000e+00
4389  01.03.2025 12:00:00.000  31.117  31.117  31.117  31.117  0.000000e+00
4390  01.03.2025 16:00:00.000  31.117  31.117  31.117  31.117  0.000000e+00
4391  01.03.2025 20:00:00.000  31.117  31.117  31.117  31.117  0.000000e+00

[4392 rows x 6 columns]