In [76]:
import yfinance as yf

In [77]:
ticker_symbol = "AAPL"

ticker = yf.Ticker(ticker_symbol)

historical_data = ticker.history(start='1990-01-01',
                                 end='2024-12-31',
                                 interval='1d',
                                 actions=False)
#Flattens the Dataframe
# historical_data = historical_data.xs(ticker_symbol, axis=1, level="Ticker")

In [78]:
historical_data.head(5)

                               Open      High       Low     Close     Volume
Date
1990-01-02 00:00:00-05:00  0.247783  0.263599  0.246026  0.261842  183198400
1990-01-03 00:00:00-05:00  0.267114  0.267114  0.263599  0.263599  207995200
1990-01-04 00:00:00-05:00  0.268871  0.272386  0.261842  0.264478  221513600
1990-01-05 00:00:00-05:00  0.265357  0.268871  0.260084  0.265357  123312000
1990-01-08 00:00:00-05:00  0.263599  0.267114  0.260084  0.267114  101572800